<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/learnblockchain_ico.ico">
    <link rel="stylesheet" href="../css/style.css">
    <title>Learn Blockchain - Academia Blockchain</title>
</head>
<body>
    <header class="contenedorHeader">

        <nav class="navegacion">
            <div class="navegacion__logo">
                <a href="../index.html">
                    <img src="../img/Logo_Completo-removebg-preview.png" alt="Logo Learn Blockchain - Aprende. Crea. Crece.">
                </a> <!--Ends logo-->           
            </div>
            <div class="navegacion__links">
                
                <a class="navegacion__links--item" href="../index.html">
                    Inicio
                </a>                    
                
                <a class="navegacion__links--item" href="cursos.html">
                    Cursos
                </a>                    
                
                <a class="navegacion__links--item" href="blog.html"
                    >Blog
                </a>                    
                
                <a class="navegacion__links--item" href="nosotros.html">
                    Nosotros
                </a>                    
                
                <a class="navegacion__links--item" href="contacto.html">
                    Contacto
                </a>
                
            </div><!--Ends links-->
        </nav> <!--Ends nav-->
        <div class="header_texto">
            <h1>APRENDE. CREA. CRECE.</h1>
            <h2>Aprende la tecnología que revoluciona el mundo.</h2>
        </div>
        <!-- <img src="img/blockchain_hero.jpeg"  alt="imagen hero blockchain"> -->
    </header> <!--Ends header-->

    <main>
        <section>
            <div class="contenedorNosotros">
                <h3>Quienes Somos</h3>
                <div class="inline">
                    <img src="../img/nosotros_imagen.jpg" alt="imagen_nosotros">
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At repellendus nisi vel culpa, sed dignissimos officia delectus quaerat enim est commodi neque nihil sequi excepturi magni harum placeat quo earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur officia adipisci ducimus ipsa totam ad alias vel repudiandae dicta. Ullam et odit nesciunt quis adipisci beatae magnam vero error asperiores? Libero magnam harum voluptas aspernatur ea cupiditate vero quasi ratione molestiae, a ab?</p>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum itaque unde animi laudantium ipsa laboriosam libero quidem eos fugiat ipsam exercitationem consequuntur ducimus neque numquam cumque delectus, repudiandae, odit sequi!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Beatae minus repudiandae ex praesentium ratione nulla, illo recusandae!</p>
                    </div>
                </div>              
            </div>
        </section>
    </main>

    <footer>
        <div>
            <a href="../index.html">
                <img src="../img/Logo_Completo-removebg-preview.png" alt="Logo Learn Blockchain - Aprende. Crea. Crece.">
            </a>
        </div> <!-- Ends logo-->

        <div class="footer__redes">
            <h4>Síguenos en nuestras redes</h4>
            
            <div class="footer__redes--links">
                <a href="http://facebook.com" target="_blank">
                    <img src="../img/facebook_icon.svg" alt="facebook_icon">
                </a>
    
                <a href="http://twitter.com" target="blank_">
                    <img src="../img/twitter_icon.svg" alt="twitter_icon">
                </a>
    
                <a href="http://instagram.com" target="blank_">
                    <img src="../img/instagram_icon.svg" alt="instagram_icon">
                </a>
            </div>
            
        </div> <!--Ends redes -->


        <div class="footer__newsletter">
            <h4 class="center_text">Newsletter</h4>
            <div class="footer__newsletter--btn">
                <input type="email">
                <input class="button" type="button" value="SUSCRIBIRSE">
            </div>
        </div>
        


    </footer> <!--Ends footer-->
</body>
</html>